#bubbles-container {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: calc(100% - 180px); /* Adjust for bubble width */
    height: 100%;
}
.bubble {
    position: absolute; /* Enable absolute positioning */
    bottom: 0;
    width: 180px;
    height: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
    animation: rise 45s forwards;
    opacity: 0.8;
}
@keyframes rise {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-200px);
        opacity: 0;
    }
}
.qr-container {
    position: absolute;
    bottom: 20px;
    width: 200px;
    max-width: 15%;
    min-width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.qr-container.right {
    right: 20px;
}
.qr-container.left {
    left: 20px;
}
.qr {
    width: 100%;
}
.qr-container h2 {
    color: gold;
    font-size: clamp(.8em, 1.9vw, 1.2em);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 10px 0;
}